extends ../layout/layout.pug

      
block content
  .main-content.default
    .container 
      .main-content__wrapper
        aside.side-bar.side-bar_right#side-bar-review
          include ../includes/top5.pug 
          .side-bar__block.side-bar__block_m-none
            .side-bar__block-content
              a(href="#").side-bar__block-logo: img(src='img/logo1.png' alt='Smile')
              .main-card__badge.green="Most Popular"
              a(href="#shop").btn.btn-primary Shop now

        section.main-content__default 
          section.breadcrumbs 
            .breadcrumbs__list 
              ul 
                li: a(href="index.html") Home
                li: a.current Smile Direct Club Review 2022

          header.review-header 
            .review-header__mobile-title 
              h1 Smile Direct Club Review
            
            .review-header__card 
              .header-card 
                .header-card__logo-box
                  a(href="#logo"): img(src='img/logo1.png', alt='Smile')
                  a(href="review.html").link.link-arrow.header-card__link-mob= 'Read Review' 

                .header-card__content-box 
                  h1.content-box__title Smile Direct Club Review
                  .content-box__offer $14.95 Kit + $100 Off & Free Whitening
                  .content-box__ranked 
                    .card-rank
                      span.card-rank__value= '9.1'
                      .card-rank__stars 
                        span.star.star_full
                        span.star.star_full
                        span.star.star_full
                        span.star.star_half
                        span.star.star_empty

                .header-card__cta-box
                  a(href="#shop").btn Shop now
                  a(href="#site").btn-line Visit Site

                .header-card__mobile-box
                  .card-rank
                    span.card-rank__value= '9.1'
                    span.card-rank__trigger= 'Excellent'
                    .card-rank__stars 
                      span.star.star_full
                      span.star.star_full
                      span.star.star_full
                      span.star.star_half
                      span.star.star_empty
                  a(href="#shop").btn Shop now

            .review-header__desc
              p: b You use your teeth for more than just eating. In fact, having a straight smile can make you feel more confident in yourself and boost your self esteem. However, having to get clunky braces in your mouth can be opinion, but they are clunky and expensive. So instead, check out SmileDirectClub’s clear aligners that could help you straighten your smile comfortably and easily.

          section.review 
            h3 Pros & Cons
            .pros-cons.review__pros-cons 
              .pros-cons__wrapper 
                ul.pros-cons__plus
                  li You receive all aligners at once
                  li It could take as little as four months to complete the treatment
                  li No buttons or attachments on the alignments to secure improved comfort
                  li Customer support is available around the clock
                  li Insurance might cover a portion of your payment

                ul.pros-cons__minus
                  li The monthly plan will require paying far more in total
                  li A shipping fee is required when creating an impression at home

            article.article 
              .article-wrapper
                h3 Benefits & Features

                h4 Short Treatment Time

                p Byte aligner plans include their exclusive HyperByte device and deliver fast results.

                h4 No In-Person Visits
                p Byte uses an extensive network of licensed doctors, orthodontists, and dentists, along with FDA-cleared technology, to provide comprehensive oversight into your treatment. Everything is done from home, so you get professional dental healthcare without stepping foot into a dentist’s office.

                h4 No Risk
                p Your impression kit will be reviewed to determine if you are a good candidate for Byte aligners. If you are not a good candidate for Byte aligners, you’ll be refunded with no hassle. If you are deemed to be a candidate, there is no commitment or obligation to start treatment.

                h4 BrightByte
                p Once you are prescribed your retainers, you’ll also receive a complimentary 1-month supply of BrightByte teeth whitening foam for use with your aligners. This easy-to-use 3-in-1 whitener kills bacteria, freshens your breath, and whitens teeth.

                h4 Financing Available

                p Byte’s treatment costs are upfront. You can pay the costs all in one go, or you can sign up for monthly payments that make these aligners simple and affordable.

                img(src="img/review-article1.jpg", alt="Review")

                .trigger-bar-card 
                  .trigger-bar-card__logo 
                    a(href="#logo"): img(src='img/logo1.png', alt='Smile')
                  .trigger-bar-card__offer $14.95 Kit + $100 Off & Free Whitening
                  .trigger-bar-card__ranked
                    .card-rank
                      span.card-rank__value= '9.1'
                      .card-rank__stars 
                        span.star.star_full
                        span.star.star_full
                        span.star.star_full
                        span.star.star_half
                        span.star.star_empty
                  .trigger-bar-card__btn
                    a(href="#shop").btn Shop now


                h3 Plans & Pricing

                p If you order aligners via SmileDirectClub, you have two payment options. The first one involves a single payment of $2050. It seems like a good value deal since it includes everything you need for your treatment.
                p Alternatively, you can pick a 26-month plan that includes a $250 deposit and paying $89 per month. That turns out to $2564, which is considerably more expensive. However, some users find paying in installments more convenient. You don’t have to go through credit checks or demanding forms to get this plan. A free scan at the doctor is included in the price. You’ll have to pay a $29 shipping if you order a home impression kit.

                h4 Can I Count on Insurance to Cover a Portion of My Payment?
                p Yes, SmileDirectClub works with multiple insurance companies. That includes Anthem Blue Cross, Aetna, UnitedHealthcare, and Empire BlueCross BlueShield. Depending on the specific situation, they can even look for eligibility of other providers, such as Humana, Cigna, or Met Life. The company also accepts FSA/HAS debit cards, as well as CareCredit.

                h4 Does SDC Provide a Money-Back Guarantee?
                p SmileDirectClub specifies that they have a 30-day money-back guarantee. You start counting the days from the delivery date of your aligners. If you aren’t happy with the service for any reason, contact SDC, and they should approve a refund for all expenses you had.

                p If you want to stop the service after the 30 days pass, you can still get a partial refund. The company will calculate a refund for all unused and opened aligners.

                <iframe width="560" height="315" src="https://www.youtube.com/embed/4TupWA7nF7s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                h3 Overview

                p SmileDirectClub is a teledentistry company that specializes in making clear aligners. They help the patients who want to straighten their teeth and improve their smiles. The company was established in 2014 in Tennessee. Today, it has over 250 licensed dentists throughout the United States. Keep reading to learn more about this service and whether it’s the right choice for you!
                br

                .trigger-bar-card 
                  .trigger-bar-card__logo 
                    a(href="#logo"): img(src='img/logo1.png', alt='Smile')
                  .trigger-bar-card__offer $14.95 Kit + $100 Off & Free Whitening
                  .trigger-bar-card__ranked
                    .card-rank
                      span.card-rank__value= '9.1'
                      .card-rank__stars 
                        span.star.star_full
                        span.star.star_full
                        span.star.star_full
                        span.star.star_half
                        span.star.star_empty
                  .trigger-bar-card__btn
                    a(href="#shop").btn Shop now


